<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a href="/account/signout" class="nav-link btn btn-link">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/account/register">Register</a>
        <a href="/account/signin">Login</a>
    </NotAuthorized>
</AuthorizeView>
