@inherits LayoutComponentBase

<div class="main-layout">
    <div class="header">
        <div class="row">
            <div class="col-12">
                <div class="navbar top-row px-4">
                    <div class="nav-left">
                        <a class="navbar-brand" href=""><img id="nav-logo" src="chat-md.png" />&nbsp; Group Chat</a>
                        <NavMenu />
                    </div>
                    <div class="top-row-auth auth">
                        <LoginDisplay />
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <GroupsMenu />
    </div>
    <div class="main">
        <div class="content">
            <RadzenCard Style="height: 100%; padding: 0;">
                @Body
            </RadzenCard>
        </div>
    </div>
    <div class="footer">

    </div>
</div>

