@page "/"
@namespace GroupChat.BlazorClient.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Chat</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script>
        // Signal R Req code
        window.GetInputValue = (Id) => {
            var elem = document.getElementById(Id);
            return elem.value;
        };

        // Focus input interop code
        window.SetFocus = (Id) => {
            setTimeout(internalFocus, 10, Id);
        };
        function internalFocus(Id) {
            var element = document.getElementById(Id);
            if (element == null) {
                setTimeout(internalFocus, 10, Id);
                return;
            }
            element.focus();
            element.select();
        }
    </script>
</body>
</html>
