@page "/"
@using GroupChat.ClientCore.Interfaces;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IRpcServiceProvider  rpcServices;
@inject ICurrentUserService  currentUserServie;
<h1>Hello, world!</h1>

Welcome to your new app.

@code {        

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var name = user.Identity.Name;
            System.Diagnostics.Debug.WriteLine($"{user.Identity.Name} is authenticated.");
        }
        else
        {
            System.Diagnostics.Debug.WriteLine("The user is NOT authenticated.");
        }

        try
        {
            var userService = await rpcServices.GetUserServiceAsync();
            var foo = await userService.Register("michael2", "m@m.com", "passowrd");
            
            Console.WriteLine();
        }
        catch (Exception ex)
        {

            throw;
        }
    }
}
